.hero-body
  .container
      .content.has-text-centered
        p.title.is-white
          | Gere links para seus amigos
        p.subtitle.is-white.strong.is-logo.is-white com o EncurTaí!
          |
          .field.mb-6.has-addons
            .control
              input#linkinput.input.is-rounded(
                    name="text",
                    type="url",
                    value="",
                    placeholder="Cole o link"
                  )
            .control
              button#myinput.button.is-white.is-rounded(type="submit")
                | Encurtar
          
          
          #message.mb-4
            |

.hero-footer
    .inner-header.flex.glass
      div
svg.waves(
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    viewbox="0 24 150 28",
    preserveaspectratio="none",
    shape-rendering="auto"
  )
    defs
      path#gentle-wave(
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      )
    g.parallax
      use(
        xlink:href="#gentle-wave",
        x="48",
        y="0",
        fill="rgba(255,255,255,0.7"
      )
      use(
        xlink:href="#gentle-wave",
        x="48",
        y="3",
        fill="rgba(255,255,255,0.5)"
      )
      use(
        xlink:href="#gentle-wave",
        x="48",
        y="5",
        fill="rgba(255,255,255,0.3)"
      )
      use(xlink:href="#gentle-wave", x="48", y="7", fill="#fff")
